<%= form_tag user_orders_path(user_id:current_user.id ), method: :post do %>
 <article>
  <% if flash[:error].present? %>
    <div id="error_explanation">
      <p><%= flash[:error] %></p>
    </div>
  <% end %>

  <label class="amount">
    <span>Prix TTC: <%= @amount %>.00 €</span>
  </label>
 </article>

<script src="https://checkout.stripe.com/checkout.js" class="stripe-button btn-red"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description="Votre achat de chaton(s)"
        data-amount="<%= @amount * 100 %>"
        data-locale="auto"></script>
<% end %>

