<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Panier</title>
  </head>
  <body>
    <div class="container">
      <div class="card mb-3" style="max-width: 800px;">
        <div class="row g-0">
          <div class="card-body " style="max-height: 100%;">
            <h1 class="card-title"> Mon panier </h1>
            <div class="card-text">
              <% @cart.items.each do |item|%>
                <div class="card mb-3" style="max-width: 800px;", id="item-<%=item.id%>">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <%= image_tag item.image_url, alt: 'ceci est un chat', class:"card-img-top" %>
                    </div>
                    <div class="col-md-6">
                      <div class="card-body">
                        <h5 class="card-title"><%= item.title %></h5>
                        <p class="card-text"><%= item.description %> </p>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="card-body">
                        <h5 class="card-title">Prix unitaire</h5>
                        <p class="card-text"><%= item.price%>€ </p>
                        <h5 class="card-title">Prix total pour le produit <%= item.title %> </h5>
                        <p class="card-text"><%= (item.price * @cartitems.find_by(item: item).quantity).to_f.round(2)%>€ </p>
                      </div>
                    </div>
                    <div class="row">
                      <h5 class="card-title">Quantité</h5>
                        <form action="<%=user_cart_path(user_id:current_user.id, id:current_user.cart.id)%>" method="post">
                          <input type="hidden" name="_method" value="put" />
                          <input type="hidden" name="item" value="<%=item.id%>" />

                          <input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts=" />
                          <input class="quantity w-50" min="1" name="quantity" value="<%=@cartitems.find_by(item: item).quantity%>" type="number" id="inputQuantity">
                          <button type="submit" onclick="getInputValue()">Modifier la quantité</button>
                        </form>
                    </div>
                      <%= link_to "Supprimer du panier", user_cart_path(current_user.cart.id, user_id:current_user.id, item:item), :method => :delete, remote: true, onclick:"play1()" %> <br/>
                  </div> 
                  </div>
                <%end%>
                </div>
              </div>
            </div>
            <div class="card-text">
              <h1>TOTAL : <span id="total-price"><%= @total%></span>€ <%= link_to "Vider mon panier", user_cart_path(current_user.cart.id), method: :delete, class:"btn btn-danger"%></h1>
            </div>
<%= render 'stripe' %>
<%# La ligne ci-dessous est à retirer à la mise en production finale %>
<%= link_to "bypass stripe", user_orders_path(user_id:current_user.id), method: :post, class:"btn btn-danger" %>
</div>
</div>
</div>
<audio id="audio1" src="https://lasonotheque.org/UPLOAD/wav/1890.wav"></audio>
<script>
  function getInputValue(){
      // Selecting the input element and get its value
      var inputVal = document.getElementById("inputQuantity").value;
  }
</script>
</body>
</html>
