<% @items.each do |item| %>
  <div class="card item-card">
    <img src=<%= item.image_url %> class="card-img-top" alt="ceci est un chat">
    <div class="card-body">
      <h5 class="card-title"><%= item.title %></h5>
      <p class="card-text"><%= item.description %></p>
      <p class="card-text"><%= item.price %> €</p>
      <div class="card-btn">
        <div class="buy-btn">
          <% if user_signed_in? %>
            <% if !current_user.cart.items.include?(item)%>
              <%=link_to "Je l'adopte !", cart_path(current_user.cart.id, item:item), :method => :put, remote: true, id:item.id, class:"btn btn-primary"%>
            <%else%>
              <div class="text-primary text-center"> Adopté ! </div>
            <%end%>
          <% else %>
            <%=link_to "Je l'adopte !", root_path, data: { confirm: 'Vous devez vous connecter pour utiliser votre panier !' }, class:"btn btn-primary "%>
          <%end%>
        </div>
        <%# ajouter les boutons Next et Previous  %>
        <div class="admin-btn">
          <%= link_to 'détails', item_path(item.id), class:"btn btn-secondary"%>
          <%= link_to 'Edit',  edit_item_path(item.id), class:"btn btn-primary"%>
          <%= link_to 'Destroy', item_path(item.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"%>
        </div>
      </div>
    </div>
  </div>
<% end %>
