<p id="notice"><%= notice %></p>


<h1><%= @item.title %></h1>
<p><%= @item.description %></p>
<span class="price"><%= @item.price %> €</span>

<div>
  <img src=<%=@item.image_url %>>
</div>

<div class="buy-btn">
  <% if user_signed_in? %>
    <% if !current_user.cart.items.include?(@item)%>
      <%=link_to "Je l'adopte !", cart_path(current_user.cart.id, item:@item), :method => :put, remote: true, id:@item.id, class:"btn btn-primary"%>
    <%else%>
      <div class="text-primary text-center"> Adopté ! </div>
    <%end%>
  <% else %>
    <%=link_to "Je l'adopte !", root_path, data: { confirm: 'Vous devez vous connecter pour utiliser votre panier !' }, class:"btn btn-primary "%>
  <%end%>
</div>

<div>
  <%= link_to 'Edit',  edit_item_path(@item.id), class:"btn btn-primary"%>
  <%= link_to 'Destroy', item_path(@item.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"%>
</div>




<%= link_to 'Back', items_path %>
